<flynt-component load:on="visible" name="BlockImageTest">
  <div class="w-screen h-full boxed">
    <figure class="figure">
      {% if image %}
        <img class="figure-image lazyload object-cover"
          src="{{ image.src|resizeDynamic(32, 24) }}"
          data-srcset="
            {{ image.src|resizeDynamic(3840, 2160) }} 3840w,
            {{ image.src|resizeDynamic(2560, 1440) }} 2560w,
            {{ image.src|resizeDynamic(1920, 1080) }} 1920w,
            {{ image.src|resizeDynamic(1440, 810) }} 1440w,
            {{ image.src|resizeDynamic(1024, 576) }} 1024w,
            {{ image.src|resizeDynamic(768, 432) }} 768w,
            {{ image.src|resizeDynamic(375, 211) }} 375w"
          data-sizes="auto"
          alt="{{ image.alt|e }}">
      {% endif %}
      {% if image.title or image.caption %}
        <div class="hidden py-[5px]">
          <figcaption class="font-bodySmall">{{ image.title|e }}</figcaption>
          <figcaption class="font-bodySmall underline underline-offset-4">{{ image.caption|e }}</figcaption>
        </div>
      {% endif %}
    </figure>
  </div>
</flynt-component>
