<flynt-component
  load:on="visible" name="HeroHeaderHome"
  class="w-full lgplus:w-screen h-screen mx-auto relative overflow-hidden">
  {% if videoIDLandscape %}
    <div class="video hidden lgplus:block">
      <div data-ref="videoPlayer" class="video-player w-full mx-auto" data-state="isLoaded">
        <iframe 
          src="https://player.vimeo.com/video/{{ videoIDLandscape }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&amp;controls=0&amp;background=1"
          frameborder="0" 
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          title="Hero Video"></iframe>
      </div>
    </div>
  {% endif %}
  {% if image %}
    <img 
      class="hidden lgplus:block figure-image w-full h-full object-cover"
      src="{{ image.src }}"
      alt="{{ image.alt|e | default('') }}"
      loading="eager"
    />
  {% endif %}
  {% if videoIDPortrait %}
    <div class="video block lgplus:hidden scale-[1.45] lg:scale-[3.5] lgplus:scale-100">
      <div data-ref="videoPlayer" class="video-player w-full mx-auto" data-state="isLoaded">
        <iframe 
          src="https://player.vimeo.com/video/{{ videoIDPortrait }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&amp;controls=0&amp;background=1"
          frameborder="0" 
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          title="Hero Video"></iframe>
      </div>
    </div>
  {% endif %}
  {% if imageMobile %}
    <img 
      class="block lgplus:hidden figure-image w-full h-full object-cover"
      src="{{ imageMobile.src }}"
      alt="{{ imageMobile.alt|e | default('') }}"
      loading="eager"
    />
  {% endif %}
  <div class="absolute z-20 top-0 left-0 flex h-screen w-full justify-center items-center">
    <h1 class="visuallyHidden">It's time to set New Standards</h1>
    <div class="flex flex-col justify-between gap-sm py-xs">
      {% if logoHeader %}
        <div data-ref="marquee" class="marquee-container relative w-full overflow-hidden">
          <div data-ref="marqueeContent" class="marquee-content inline-flex items-center gap-[60px]">
            {% for i in 1..9 %}
              <figure class="figure flex-shrink-0 inline-block">
                <img class="object-contain h-[80px] lg:h-[130px] invert block"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  fetchpriority="high"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</flynt-component>
