<flynt-component
  load:on="visible" name="HeroHeaderHome"
  class="w-full lg:w-screen lg:h-screen mx-auto relative">
  {% if image %}
    <img class="figure-image lazyload w-full h-full"
      src="{{ image.src|resizeDynamic(32, 24) }}"
      data-srcset="
      {{ image.src|resizeDynamic(3840, 2160) }} 3840w,
      {{ image.src|resizeDynamic(2560, 1440) }} 2560w,
      {{ image.src|resizeDynamic(1920, 1080) }} 1920w,
      {{ image.src|resizeDynamic(1440, 810) }} 1440w,
      {{ image.src|resizeDynamic(1024, 576) }} 1024w,
      {{ image.src|resizeDynamic(768, 432) }} 768w,
      {{ image.src|resizeDynamic(375, 211) }} 375w"
      data-sizes="auto"
      alt="{{ image.alt|e }}">
  {% endif %}
  <div class="absolute z-20 top-0 left-0 flex h-full w-full justify-center items-center">
    <div class="flex flex-col justify-between gap-sm py-xs">
      {% if logoHeader %}
        <div data-ref="marquee" class="marquee-container relative max-w-full swiper-container overflow-hidden">
          <div class="swiper-wrapper w-full h-full items-center py-0">
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoFooter.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
            <div class="swiper-slide w-full h-full flex items-center justify-center">
              <figure class="figure w-full">
                <img class="w-full mx-auto object-contain"
                  src="{{ logoHeader.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', logoHeader.id)}}"
                  data-sizes="auto"
                  alt="{{ logoHeader.alt|e }}">
              </figure>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {# <div class="wrapper wrapper--menu">
    <div class="homeMenu hidden lg:block w-full z-[3000] bg-white">
      <div class="w-full max-w-screen-max mx-auto !px-xs !py-xs flex flex-row justify-between gap-sm">
        {{ renderComponent('NavigationMain') }}
      </div>
    </div>
  </div> #}
</flynt-component>
