{% if posts|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ListingJournalFeat" 
    class="boxed w-full"
    style="
      color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
      background-color: {% if options.pageBackground %}{{ options.pageBackground }}{% else %}transparent{% endif %};">
    
    <script type="application/json">{{ jsonData|json_encode }}</script>
    <div class="wrapper flex flex-col gap-sm fade-in overflow-hidden" x-data="{ selectedCategories: [], searchQuery: '', filtersOpen: false }">

      <div class="hidden lg:block">
        <h2>{{ headlineTitle|e }}</h2>
      </div>
      
      <!-- Posts Grid -->
      <div data-ref="slider" class="slider swiper-container pt-lg md:pt-0">
        <div class="block lg:hidden h-fit absolute top-0 left-0">
          <h2>{{ headlineTitle|e }}</h2>
        </div>
        <div data-ref="dots" class="flex justify-end h-fit absolute !top-0 right-0 z-[40] slider-pagination swiper-pagination-fraction"></div>
        <div class="swiper-wrapper flex flex-row">
          {% for post in posts %}
            {% set journalCategoryTerms = post.terms('journal-category') %}
            {% set allTerms = journalCategoryTerms %}
            {% set postCategorySlugs = allTerms|map(term => term.name|lower|replace({' ' : '-'}) ) %}

            <div 
              class="slider-item swiper-slide post [&_.group]:hover:text-orangeHover hover:cursor-pointer" 
              x-show="(selectedCategories.length === 0 || selectedCategories.some(cat => ['{{ postCategorySlugs|join("','") }}'].includes(cat))) && 
                      (searchQuery === '' || '{{ post.title|lower }}'.includes(searchQuery.toLowerCase()))"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 scale-95"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-95"
            >
              <a href="{{ post.link }}" title="{{ post.title }}" aria-label="Go to post">
                <div class="group w-full flex flex-col gap-xs items-start">
                  {% if post.thumbnail %}
                    <img 
                      class="lazyload transition grid duration-200 ease-in-out aspect-8/5 object-cover"
                      src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e | default('') }}"
                      loading="lazy"
                      style="opacity: 0; transition: opacity 0.5s ease-in-out;"
                      onload="this.style.opacity='1'"
                      aria-label="Go to post"
                    />
                  {% endif %}
                  <div class="flex flex-row gap-xs items-center">
                    <span class="font-bodySmall !mb-0">{{ post.end_date }}</span>
                    <div class="flex flex-row gap-xs">
                      {% for term in allTerms %}
                        <span class="font-bodySmall !mb-0">{{ term.name }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <h3 class="w-full !mb-0 font-body">{{ post.title }}</h3>
                  <span class="font-bodySmall !mb-0">{{ post.postAuthor }}</span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </flynt-component>
{% endif %}