<flynt-component load:on="visible" name="NavigationFooter" class="bg-orange flex flex-col justify-between items-end gap-[20rem]">
  <div class="w-full flex flex-col justify-between">
    <div class="w-full mx-auto boxed !py-xs">
      <div class="">
        {# Top #}
        <div class="flex flex-col justify-start gap-sm">
          <div class="w-full h-full flex flex-col gap-sm justify-start">
            {% if menu %}
              <nav class="navigation w-full h-full flex justify-start md:justify-center items-end" aria-label="{{ labels.ariaLabel }}">
                {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
              </nav>
            {% endif %}
          </div>
        </div>
        {# {% include 'Partials/_backtotop.twig' %} #}
      </div>
    </div>
    {# Center #}
    <div class="boxed grid md:grid-cols-12 gap-xs align-start justify-start md:justify-between">
      {% for column in columns %}
        <div class="column flex {{ column.colStart }} {{ column.colEnd }} lg:row-start-1 lg:row-end-2">
          <div class="wysiwyg">{{ column.contentHtml|e('wp_kses_post') }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  {# Bottom #}
  <div class="flex flex-col justify-between gap-sm py-xs">
    {% if logoFooter %}
      <div data-ref="marquee" class="marquee-container relative max-w-full swiper-container overflow-hidden">
        <div class="swiper-wrapper w-full h-full items-center py-0">
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</flynt-component>
