<flynt-component load:on="visible" name="NavigationFooter" class="bg-orange flex flex-col justify-between items-end gap-[15rem] lg:gap-0 lg:h-[calc(100vh-55px)] overflow-hidden">
  <div class="w-full flex flex-col justify-between gap-lg">
    <div class="w-full mx-auto boxed !py-xs">
      <div class="">
        {# Top #}
        <div class="flex flex-col justify-start gap-sm">
          <div class="w-full h-full flex flex-col gap-sm justify-start">
            {% if menu %}
              <nav class="navigation w-full h-full flex justify-start md:justify-center items-end" aria-label="{{ labels.ariaLabel }}">
                {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
              </nav>
            {% endif %}
          </div>
        </div>
        {# {% include 'Partials/_backtotop.twig' %} #}
      </div>
    </div>
    {# Center #}
    <div class="boxed grid md:grid-cols-12 gap-xs align-start justify-start md:justify-between">
      {% for column in columns %}
        <div class="column flex flex-col gap-sm {{ column.colStart }} {{ column.colEnd }} lg:row-start-1 lg:row-end-2">
          <div class="wysiwyg">{{ column.contentHtml|e('wp_kses_post') }}</div>
          {% if column.enableNewsletter %}
            <div id="mc_embed_shell">
              <div id="mc_embed_signup">
                  <form action="https://studio.us2.list-manage.com/subscribe/post?u=53b361306408427d9ffbc9980&amp;id=cf376efd5e&amp;f_id=00bce7e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                      <div id="mc_embed_signup_scroll">
                          <div class="mc-field-group">
                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Your email">
                          </div>
                      <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_53b361306408427d9ffbc9980_cf376efd5e" tabindex="-1" value="">
                  </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn--outline" value="Send">
                          </div>
                      </div>
                  </div>
              </form>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {# Bottom #}
  <div class="flex flex-col justify-between gap-sm py-xs">
    {% if logoFooter %}
      <div data-ref="marquee" class="marquee-container relative max-w-full swiper-container overflow-hidden scale-125">
        <div class="swiper-wrapper w-full h-full items-center py-0">
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
          <div class="swiper-slide w-full h-full flex items-center justify-center">
            <figure class="figure w-full">
              <img class="w-full mx-auto object-contain"
                src="{{ logoFooter.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
                data-sizes="auto"
                alt="{{ logoFooter.alt|e }}">
            </figure>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</flynt-component>
