{% if items|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ListingJournalRelated" 
    class=""
    style="
      color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
      background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">

    <script type="application/json">{{ jsonData|json_encode }}</script>
    <div class="wrapper max-w-screen-max mx-auto boxed flex flex-col gap-sm" x-data="{ selectedCategories: [], searchQuery: '', filtersOpen: false }">

      <!-- Posts Grid -->
      <div data-ref="slider" class="slider swiper-container pb-md pt-sm border-t">
        {% if labels.preContentHtml %}
          <div class="font-body">{{ labels.preContentHtml|e('wp_kses_post') }}</div>
        {% endif %}
        <div data-ref="dots" class="flex justify-center absolute !bottom-[20px] z-[40] slider-pagination swiper-pagination-fraction"></div>
        <div class="swiper-wrapper flex flex-row">
          {% for item in items %}
            <div 
              class="slider-item swiper-slide post flex col-span-3 w-full [&_h2]:hover:text-orange hover:cursor-pointer" 
              x-show="(selectedCategories.length === 0 || selectedCategories.some(cat => {{ item.postType|default([])|json_encode }}.includes(cat))) &&
                     (searchQuery === '' || '{{ item.title|lower }}'.includes(searchQuery.toLowerCase()))"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 scale-95"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-95"
            >
              <a class="flex flex-col gap-xs w-full" href="{{ item.link }}" title="{{ item.title }}">
                <img 
                  class="figure-image lazyload object-cover"
                  src="{{ item.thumbnail.src }}"
                  alt="{{ item.thumbnail.alt|e | default('') }}"
                  loading="lazy"
                  style="opacity: 0; transition: opacity 0.5s ease-in-out;"
                  onload="this.style.opacity='1'"
                />
                <div class="flex flex-col">
                  <h2 class="font-body !mb-0">{{ item.title }}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </flynt-component>
{% endif %}
