{% if items|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ListingJournalRelated" 
    class=""
    style="
      color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
      background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">

    <div class="wrapper max-w-screen-max mx-auto boxed flex flex-col gap-sm my-[60px]" x-data="{ selectedCategories: [], searchQuery: '', filtersOpen: false }">

      <!-- Posts Grid -->
      <div class="wrapper max-w-screen-max border-t border-black pt-lg">
        {% if preContentHtml %}
          <div class="font-body">{{ preContentHtml|e('wp_kses_post') }}</div>
        {% endif %}
        <div class="grid grid-cols-12 gap-xs">
          {% for item in items %}
            <div 
              class="post flex col-span-3 w-full [&_h2]:hover:underline hover:cursor-pointer" 
              x-show="(selectedCategories.length === 0 || selectedCategories.some(cat => {{ item.postType|default([])|json_encode }}.includes(cat))) &&
                     (searchQuery === '' || '{{ item.title|lower }}'.includes(searchQuery.toLowerCase()))"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 scale-95"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-95"
            >
              <a class="flex flex-col gap-xs w-full" href="{{ item.link }}" title="{{ item.title }}">
                <img class="figure-image lazyload object-cover aspect-8/5"
                  src="{{ item.thumbnail.src|resizeDynamic(32, 24) }}"
                  data-srcset="
                  {{ item.thumbnail.src|resizeDynamic(3840, 2160) }} 3840w,
                  {{ item.thumbnail.src|resizeDynamic(2560, 1440) }} 2560w,
                  {{ item.thumbnail.src|resizeDynamic(1920, 1080) }} 1920w,
                  {{ item.thumbnail.src|resizeDynamic(1440, 810) }} 1440w,
                  {{ item.thumbnail.src|resizeDynamic(1024, 576) }} 1024w,
                  {{ item.thumbnail.src|resizeDynamic(768, 432) }} 768w,
                  {{ item.thumbnail.src|resizeDynamic(375, 211) }} 375w"
                  data-sizes="auto"
                  alt="{{ item.thumbnail.alt|e }}">
                <div class="flex flex-col">
                  <h2 class="font-body !mb-0">{{ item.title }}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </flynt-component>
{% endif %}
