{% if posts|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ListingJournal" 
    class=""
    style="
      color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
      background-color: {% if options.pageBackground %}{{ options.pageBackground }}{% else %}transparent{% endif %};">
    
    <div class="wrapper max-w-screen-max mx-auto boxed flex flex-col gap-sm" x-data="{ selectedCategories: [], searchQuery: '', filtersOpen: false }">
      <div class="grid grid-cols-12 gap-xs">
        
        <div class="flex flex-col flex-wrap justify-start col-start-8 col-end-12">
          
          {% set journalCategories = function('get_terms', {'taxonomy': 'journal-category', 'hide_empty': true}) %}
          {% for journalCategory in journalCategories %}
            {% set slug = journalCategory.name|lower|replace({' ' : '-'}) %}
            <div 
              class="font-body !mb-0 cursor-pointer hover:underline underline-offset-4"
              :class="selectedCategories.includes('{{ slug }}') ? 'underline underline-offset-4' : ''"
              @click="selectedCategories.includes('{{ slug }}') 
                ? selectedCategories = selectedCategories.filter(c => c !== '{{ slug }}') 
                : selectedCategories.push('{{ slug }}')">
              {{ journalCategory.name }}
            </div>
          {% endfor %}
        </div>            

      </div>

      <!-- Posts Grid -->
      <div class="flex flex-col">
        {% for post in posts %}
          {% set journalCategoryTerms = post.terms('journal-category') %}
          {% set allTerms = journalCategoryTerms %}
          {% set postCategorySlugs = allTerms|map(term => term.name|lower|replace({' ' : '-'}) ) %}

          <div 
            class="post w-full py-sm [&_h2]:hover:underline border-t last:border-b hover:cursor-pointer" 
            x-show="(selectedCategories.length === 0 || selectedCategories.some(cat => ['{{ postCategorySlugs|join("','") }}'].includes(cat))) && 
                     (searchQuery === '' || '{{ post.title|lower }}'.includes(searchQuery.toLowerCase()))"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-100"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
          >
            <a href="{{ post.link }}">
              <div class="w-full flex flex-col md:grid grid-cols-12 gap-xs items-start">
                {% if post.thumbnail %}
                  <img 
                    class="lazyload transition grid duration-200 ease-in-out object-cover col-start-1 col-end-4" 
                    src="{{ post.thumbnail.src }}"
                    data-srcset="{{ function('wp_get_attachment_image_srcset', post.thumbnail.id) }}"
                    data-sizes="auto"
                    alt="{{ post.title }}">
                {% endif %}

                <div class="font-bodySmall !mb-0 col-start-4 col-end-5">{{ post.date|date('d.m.y') }}</div>

                <div class="w-full h-full flex flex-col justify-between !mb-0 col-start-5 col-end-8">
                  <h2 class="w-full !mb-0">{{ post.title }}</h2>
                  <button class="button button--link" href="{{ post.link }}" aria-label="{{ post.title }}">Lesen</button>
                </div>

                <div class="flex flex-row gap-xs col-start-9 col-end-11">
                  {% for term in allTerms %}
                    <span class="font-label">{{ term.name }}</span>
                  {% endfor %}
                </div>

                <div class="font-bodySmall !mb-0 col-start-11 col-end-13">{{ post.postAuthor }}</div>
                
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </flynt-component>
{% endif %}