<ul class="menu list-none w-full col-start-4 col-end-13 grid grid-cols-9 gap-xs">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li class="item font-menu flex align-middle items-center hover:text-orange font-bodyMenu {{ item.classes|join(' ') }} {{- item.current ? ' text-orange' }} {{- item.target == '_blank' ? ' external-link' }} {{- item.object == 'page' ? ' page-item' }} {{- item.object == 'post' ? ' post-item' }}">
        <a class="link flex align-middle items-center transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li x-data="{ showDropdown: false }" class="item font-menu flex align-middle items-center open-submenu font-bodyMenu hover:text-orange {{ item.classes|join(' ') }} {{- item.current ? ' text-orange' }} {{- item.target == '_blank' ? ' external-link' }} {{- item.object == 'page' ? ' page-item' }} {{- item.object == 'post' ? ' post-item' }}" >
        <a 
          @mouseover="showDropdown = true"
          @mouseleave="showDropdown = false"
          @click="showDropdown = !showDropdown" 
          class="link flex align-middle items-center no-underline transition-transform duration-200 ease-in-out cursor-pointer z-[100]" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
            {{ item.title }}
        </a>
        <ul 
          class="menu submenu" x-cloak
          x-show="showDropdown"
          @mouseover="showDropdown = true"
          @mouseleave="showDropdown = false">
            {% for subitem in item.children %}
              <li class="item font-menu hover:text-orange {{ subitem.classes|join(' ') }} {{- subitem.current ? ' text-orange' }} {{- subitem.target == '_blank' ? ' external-link' }} {{- subitem.object == 'page' ? ' page-item' }} {{- subitem.object == 'post' ? ' post-item' }}">
                <a class="link flex align-middle items-center no-underline transition-transform duration-200 ease-in-out" href="{{ subitem.link }}">{{ subitem.title }}</a>
              </li>
            {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
