<div class="menu list-none w-full col-start-4 col-end-13 grid grid-cols-9 gap-xs">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <div class="item font-menu flex align-middle items-center hover:text-orangeHover no-underline font-bodyMenu {{ item.classes|join(' ') }} {{- item.current ? ' text-orangeHover' }} {{- item.target == '_blank' ? ' external-link' }} {{- item.object == 'page' ? ' page-item' }} {{- item.object == 'post' ? ' post-item' }}">
        <a class="link flex align-middle items-center no-underline transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </div>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <div x-data="{ showDropdown: false }" class="item font-menu flex align-middle items-center open-submenu font-bodyMenu hover:text-orangeHover {{ item.classes|join(' ') }} {{- item.current ? ' text-orangeHover' }} {{- item.target == '_blank' ? ' external-link' }} {{- item.object == 'page' ? ' page-item' }} {{- item.object == 'post' ? ' post-item' }}" >
        <a 
          @mouseover="showDropdown = true"
          @mouseleave="showDropdown = false"
          @click="showDropdown = !showDropdown" 
          class="link flex align-middle items-center no-underline transition-transform duration-200 ease-in-out cursor-pointer z-[100]" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
            {{ item.title }}
        </a>
        <div 
          class="menu submenu" x-cloak
          x-show="showDropdown"
          @mouseover="showDropdown = true"
          @mouseleave="showDropdown = false">
            {% for subitem in item.children %}
              <div class="item font-menu hover:text-orangeHover {{ subitem.classes|join(' ') }} {{- subitem.current ? ' text-orangeHover' }} {{- subitem.target == '_blank' ? ' external-link' }} {{- subitem.object == 'page' ? ' page-item' }} {{- subitem.object == 'post' ? ' post-item' }}">
                <a class="link flex align-middle items-center no-underline transition-transform duration-200 ease-in-out" href="{{ subitem.link }}">{{ subitem.title }}</a>
              </div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <a class="backToTop hamburger col-start-9 col-end-10 flex flex-row justify-end items-center [&_line]:hover:stroke-orangeHover" id="toTheFooter" href="#theFooter" aria-label="Go to footer">
    <svg class="w-fit" width="35" height="17" viewBox="0 0 35 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="1" x2="35" y2="1" stroke="black" stroke-width="2"/>
      <line y1="16" x2="35" y2="16" stroke="black" stroke-width="2"/>
    </svg>
  </a>
</div>
