<!DOCTYPE html>
<html class="html {{ body_class }} horizontal page-{{ post.slug }}" id="theTop" lang="{{ site.language|locale_format }}" {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}
    <!-- Google tag (gtag.js) -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPSWEBK5GE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FPSWEBK5GE');
    </script> #}
  </head>
  <body>
    <!-- Page Load Animation Overlay -->
    <div class="page-load-animation" id="pageLoadAnimation"></div>
    {% block layout %}
      <div 
        class="pageWrapper {% if post.pageBackgroundCustom %}{{ post.pageBackgroundCustom }}{% else %}bg-white{% endif %}">
        <header class="w-full">
          {% block header %}
            <div class="wrapper wrapper--menu">
              {% if fn('is_front_page') %}
                <div class="mainMenu bottom hidden lg:block w-full h-[55px] z-[3000] {% if post.pageBackgroundCustom %}{{ post.pageBackgroundCustom }}{% else %}bg-white{% endif %}">
                  <div class="w-full max-w-screen-max mx-auto !px-xs !py-xs flex flex-row justify-between gap-sm">
                    {{ renderComponent('NavigationMain') }}
                  </div>
                </div>
              {% else %}
                <div class="hidden lg:block w-full h-[55px] fixed top-0 left-0 z-[3000] {% if post.pageBackgroundCustom %}{{ post.pageBackgroundCustom }}{% else %}bg-white{% endif %}">
                  <div class="w-full max-w-screen-max mx-auto !px-xs !py-xs flex flex-row justify-between gap-sm">
                    {{ renderComponent('NavigationMain') }}
                  </div>
                </div>
              {% endif %}
              {{ renderComponent('NavigationBurger') }}
            </div>
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent min-h-[calc(100vh-55px)] {% if fn('is_front_page') %}mt-0{% else %}mt-[55px]{% endif %}" aria-label="{{ __('Content', 'flynt') }}">
          <a href="#mainContent" class="skipLink">
            {{ __("Skip to main content", "flynt") }}
          </a>
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter" id="theFooter">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
