<flynt-component
  load:on="load" name="BlockSliderLogos"
  class="overflow-hidden"
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="boxed px-0 w-full fade-in">
    {% if blockTitle %}
      <h3 class="mb-xxl">{{ blockTitle }}</h3>
    {% endif %}

    <div data-ref="slider" class="slider relative max-w-full swiper-container">
      
      {# Pagination dots - matching SliderLogos structure #}
      {# <div class="w-full button-wrapper absolute left-0 bottom-0 z-50 translate-y-xl xs:translate-y-xl lg:translate-y-sm">
        <div data-ref="dots" class="flex justify-center slider-pagination swiper-pagination-fraction"></div>
      </div> #}
      
      <div class="swiper-wrapper w-full h-full items-center py-0">
        {% for box in contentBoxes %}
          <div class="w-[110px] h-auto aspect-8/5 box-border overflow-hidden relative item swiper-slide">
            {% if box.panelLogo %}
              <img 
                class="logo lazyload object-contain aspect-8/5"
                src="{{ box.panelLogo.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', box.panelLogo.id)}}"
                data-sizes="auto">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</flynt-component>
