<flynt-component 
  load:on="visible" 
  name="BlockImageText" 
  style="
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">
  <div class="wrapper max-w-screen-max mx-auto">
    <div class="flex flex-col {{ imagePosition }} items-stretch min-h-[550px] h-full">
      <div class="w-auto lg:w-1/2 lg:absolute {% if imagePosition == 'lg:flex-row' %} left-0 {% else %} right-0 {% endif %} min-h-[550px] h-full" style="background-image: url('{{ image.src }}'); background-size: cover; background-position: center;">
        {# {% if image %}
          <div class="block lg:hidden">
            <img class="lazyload h-full w-full object-cover"
              src="{{ image.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
              data-sizes="auto"
              alt="{{ image.alt|e }}">
          </div>
        {% endif %} #}
        {% if image.title or image.caption %}
        <div class="hidden py-[5px]">
          <figcaption class="font-bodySmall">{{ image.title|e }}</figcaption>
          <figcaption class="font-bodySmall underline underline-offset-4">{{ image.caption|e }}</figcaption>
        </div>
        {% endif %}
      </div>
      <div class="w-full lg:w-1/2 h-full flex flex-col justify-between boxed {% if imagePosition == 'lg:flex-row' %} !mr-0 {% else %} !ml-0 {% endif %}">
        {% if contentHtml %}
          <div class="wysiwyg">{{ contentHtml|e('wp_kses_post') }}</div>
        {% endif %}
        {% for panel in repeaterButtons %}
          <div class="flex flex-col gap-sm mt-sm">
            <a class="button button--outline button--outlineBig" href="{{panel.buttonLink.url}}" {% if panel.buttonLink.target %} target="{{ panel.buttonLink.target }}" rel="noreferrer noopener"{% endif %}>{{panel.buttonLink.title}}</a>
          </div>
        {% endfor %}
        <div class="flex flex-row gap-xs mt-sm">
          {% if buttonLink1 %}
            <a class="button button--outline" href="{{buttonLink1.url}}" {% if buttonLink1.target %} target="{{ buttonLink1.target }}" rel="noreferrer noopener"{% endif %}>{{buttonLink1.title}}</a>
          {% endif %}
          {% if buttonLink2 %}
            <a class="button button--fullBlack" href="{{buttonLink2.url}}" {% if buttonLink2.target %} target="{{ buttonLink2.target }}" rel="noreferrer noopener"{% endif %}>{{buttonLink2.title}}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</flynt-component>
