<flynt-component 
  load:on="visible" 
  name="ListingProjectsRelated" 
  class=""
  style="
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
    background-color: {% if options.pageBackground %}{{ options.pageBackground }}{% else %}transparent{% endif %};">

  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="wrapper overflow-hidden max-w-screen-max mx-auto boxed flex flex-col gap-sm fade-in" x-data="{ selectedCategories: [], searchQuery: '', filtersOpen: false }">

    <!-- Projects Grid -->
      <div data-ref="slider" class="slider swiper-container pt-[60px] md:pt-sm border-t">
      {% if labels.preContentHtml %}
        <div class="font-body">{{ labels.preContentHtml|e('wp_kses_post') }}</div>
      {% endif %}
      <div data-ref="dots" class="flex justify-end h-fit absolute !top-[20px] right-0 z-[40] slider-pagination swiper-pagination-fraction"></div>
      <div class="swiper-wrapper flex flex-row">
        {% for item in projects %}
          {% set project = item.project %}
          {% set projektCategoryTerms = project.terms('category') %}
          {% set postCategorySlugs = projektCategoryTerms|map(term => term.name|lower|replace({' ' : '-'}) ) %}
          <div 
            class="slider-item swiper-slide post flex col-span-3 w-full [&_h2]:hover:text-orangeHover hover:cursor-pointer" 
            x-show="(selectedCategories.length === 0 || selectedCategories.some(cat => {{ postCategorySlugs|default([])|json_encode }}.includes(cat))) &&
                   (searchQuery === '' || '{{ project.title|lower }}'.includes(searchQuery.toLowerCase()))"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-100"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
          >
            <a class="flex flex-col gap-xs w-full" href="{{ project.link }}" title="{{ project.title }}" aria-label="Go to project">
              <img 
                class="figure-image lazyload object-cover"
                src="{{ project.thumbnail.src }}"
                alt="{{ project.thumbnail.alt|e | default('') }}"
                loading="lazy"
                style="opacity: 0; transition: opacity 0.5s ease-in-out;"
                onload="this.style.opacity='1'"
                aria-label="Go to project"
              />
              <div class="flex flex-col">
                <h2 class="font-body !mb-0">{{ project.title }}</h2>
                {# <div class="flex flex-row gap-[5px]">
                  {% set postCategories = project.terms('category') %}
                  {% for term in postCategories %}
                    <span class="font-bodySmall !mb-0">{{ term }}{% if not loop.last %},{% endif %}</span>
                  {% endfor %}
                </div> #}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</flynt-component>