<ul data-ref="menu" class="menu w-full h-full pb-xs border-b">
  <div class="w-full h-full mx-auto flex flex-row flex-wrap lg:grid lg:grid-cols-12 gap-xs items-center">
    {% for item in items %}
      {# regular menu item #}
      {% if not item.children %}
        <li class="item flex {{ item.classes|join(' ') }} {{- item.current ? ' current-menu-item' }}">
          <a class="link font-menuFooter hover:underline" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
            {{ item.title }}
          </a>
        </li>
      {% endif %}
      {# menu with submenu item #}
      {% if item.children %}
        <li class="item open-submenu {{ item.classes|join(' ') }} {{- item.current ? ' current-menu-item' }}" >
          <div class="link font-menuFooter underline !mb-[6px]">
            {{ item.title }}
          </div>
          <ul class="submenu flex flex-row gap-xs">
            {% for subitem in item.children %}
              <li class="item hover:underline {{ subitem.classes|join(' ') }} {{- subitem.current ? ' current-menu-item' }}">
                <a class="link !p-0 font-menuFooter" href="{{ subitem.link }}" {{ subitem.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ subitem.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  <div>
</ul>